<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributedStringEnabled</key>
	<false/>
	<key>BIMApplicationSpecificSetup</key>
	<array/>
	<key>BIMCandidatesPanel</key>
	<dict>
		<key>FontSize</key>
		<integer>12</integer>
		<key>PanelType</key>
		<integer>0</integer>
	</dict>
	<key>BIMDisabledDictionaries</key>
	<array/>
	<key>BIMEnglishBypassWithOption</key>
	<false/>
	<key>BIMEnglishKeyboard</key>
	<integer>0</integer>
	<key>BIMHangulCommitByWord</key>
	<false/>
	<key>BIMHangulKeyboard</key>
	<integer>0</integer>
	<key>BIMHangulOrderCorrection</key>
	<true/>
	<key>BIMHanjaParenStyle</key>
	<integer>0</integer>
	<key>BIMIndicator</key>
	<dict>
		<key>enable</key>
		<true/>
	</dict>
	<key>BIMShortcuts</key>
	<array>
		<dict>
			<key>CGEventFlags</key>
			<integer>131330</integer>
			<key>CGEventFlagsMask</key>
			<integer>-65536</integer>
			<key>CGEventFlagsOption</key>
			<integer>0</integer>
			<key>CGEventKeyCode</key>
			<integer>49</integer>
			<key>CGEventType</key>
			<integer>10</integer>
			<key>enable</key>
			<true/>
			<key>string</key>
			<string>⇧Space</string>
			<key>stringIgnoringModifiers</key>
			<string> </string>
			<key>type</key>
			<integer>0</integer>
			<key>userDefined</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CGEventFlags</key>
			<integer>524576</integer>
			<key>CGEventFlagsMask</key>
			<integer>4294901760</integer>
			<key>CGEventFlagsOption</key>
			<integer>0</integer>
			<key>CGEventKeyCode</key>
			<integer>36</integer>
			<key>CGEventType</key>
			<integer>10</integer>
			<key>enable</key>
			<true/>
			<key>string</key>
			<string>⌥↩</string>
			<key>stringIgnoringModifiers</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>userDefined</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CGEventFlags</key>
			<integer>1048600</integer>
			<key>CGEventFlagsMask</key>
			<integer>4294910036</integer>
			<key>CGEventFlagsOption</key>
			<integer>2</integer>
			<key>CGEventKeyCode</key>
			<integer>4297202608</integer>
			<key>CGEventType</key>
			<integer>12</integer>
			<key>enable</key>
			<true/>
			<key>string</key>
			<string>⌘</string>
			<key>type</key>
			<integer>0</integer>
			<key>userDefined</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>BIMTrigger</key>
	<dict>
		<key>alert</key>
		<false/>
		<key>enable</key>
		<true/>
		<key>tiggers</key>
		<array>
			<dict>
				<key>triggerString</key>
				<string>한글</string>
			</dict>
			<dict>
				<key>triggerString</key>
				<string>www</string>
			</dict>
			<dict>
				<key>triggerString</key>
				<string>http</string>
			</dict>
			<dict>
				<key>triggerString</key>
				<string>naver</string>
			</dict>
		</array>
	</dict>
	<key>BIMUpdateCheckPeriod</key>
	<integer>0</integer>
	<key>fontsAttributes</key>
	<dict/>
	<key>VIMode</key>
	<false/>
</dict>
</plist>
